# This is a basic workflow to help you get started with Actions

name: Setup Spack on Self-Hosted

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted

    env:
      SPACK_INSTALL_DIR: /home/parikshit/spack

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: .   # This ensures files are checked out directly to $GITHUB_WORKSPACE

      - name: Check if Spack is already installed
        id: check-spack
        run: |
          if [ -d "${SPACK_INSTALL_DIR}" ]; then
            echo "Spack already installed at ${SPACK_INSTALL_DIR}"
            echo "found=true" >> "$GITHUB_OUTPUT"
          else
            echo "Spack not found."
            echo "found=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Install Spack if not found
        if: steps.check-spack.outputs.found == 'false'
        run: |
          git clone -c feature.manyFiles=true --depth=2 --branch=releases/v1.0 https://github.com/spack/spack.git "${SPACK_INSTALL_DIR}"
          cd $SPACK_INSTALL_DIR

      - name: Source Spack and test
        run: |
          . "${SPACK_INSTALL_DIR}/share/spack/setup-env.sh"
          spack --version
      
      - name: Detect compilers and external packages
        run: |
          . "${SPACK_INSTALL_DIR}/share/spack/setup-env.sh"
          spack compiler find
          spack external find
          spack external find --not-buildable slurm

      - name: Build compilers
        run: | 
          . "${SPACK_INSTALL_DIR}/share/spack/setup-env.sh"
          echo "==> Compilers:"
          spack compilers
          cd $GITHUB_WORKSPACE/src/compilers
          spack env activate .
          spack env status
          spack concretize
          spack install
      
      - name: Add mirror
        run: |
          . "${SPACK_INSTALL_DIR}/share/spack/setup-env.sh"
          if ! spack mirror list | grep -q '^rudra'; then
            spack mirror add rudra /scratch/parikshit/spack-cache
          else
            echo "Mirror 'rudra' already exists, skipping add."
          fi
          spack buildcache update-index /scratch/parikshit/spack-cache