# This is a basic workflow to help you get started with Actions

name: Setup Spack on Self-Hosted

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: self-hosted  # Must match your runner label(s) 

    env:
      SPACK_INSTALL_DIR: /home/parikshit/spack

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Check if Spack is already installed
        id: check-spack
        run: |
          if [ -d "${SPACK_INSTALL_DIR}" ]; then
            echo "Spack already installed at ${SPACK_INSTALL_DIR}"
            echo "found=true" >> "$GITHUB_OUTPUT"
          else
            echo "Spack not found."
            echo "found=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Install Spack if not found
        if: steps.check-spack.outputs.found == 'false'
        run: |
          git clone -c feature.manyFiles=true --depth=2 --branch=releases/v1.0.0 https://github.com/spack/spack.git "${SPACK_INSTALL_DIR}"
          cd $SPACK_INSTALL_DIR

      - name: Source Spack and test
        run: |
          . "${SPACK_INSTALL_DIR}/share/spack/setup-env.sh"
          spack --version
      
      - name: Detect compilers and external packages
        run: |
          . "${SPACK_INSTALL_DIR}/share/spack/setup-env.sh"
          spack compiler find
          spack external find
          spack external find --not-buildable slurm
          echo "==> Compilers:"
          spack compilers
          spack install gcc@9.5.0
          spack install gcc@11
          spack install gcc@12
          spack install gcc@13
          spack install gcc@14
      
      - name: Add mirror
        run: |
          . "${SPACK_INSTALL_DIR}/share/spack/setup-env.sh"
          
          if ! spack mirror list | grep -q '^rudra'; then
            spack mirror add rudra /scratch/parikshit/spack-cache
          else
            echo "Mirror 'rudra' already exists, skipping add."
          fi

          spack buildcache update-index /scratch/parikshit/spack-cache


